<html>
<head>
	<title>Logibug Account Forgot Password</title>
</head>
<body>
	<center>
		<table style="width: 555px; margin: 10px auto; border: 1px black solid;">
		<tr><td style="background: #dfdfdf; text-align: center;"><h2 style="margin: 8px auto 8px auto;">Logibug Account Forgot Password</h2></td></tr>
		<tr>
		<td style="text-align: left; padding: 5px 10px;">
		  <p>Welcome to <strong>Logibug Account Forgot Password</strong></p>
		  <p><strong>Authenticate</strong>  You have requested to reset your password. Please click the link below to set a new password:</p> <a href="<%= @url_host%>/api/v1/password/activate?password_activation=<%= @verify_token%>">here.</a></p>
		</td>
		</tr>
	</table>
	</center>
</body>
</html>